Repository CDS-Seminar-1-IN-SOPT/Client, pull requests merged in 2022-11, with the labels that each got.

#9 발표자료 리드미 파일 작성
  docs/Presentation.md
Labels: documentation

#7 Feat/#3 Date_off View 퍼블리싱
  package.json
  src/components/DateOff/Calendar/Calendar.jsx
  src/components/DateOff/Calendar/CalendarBody.jsx
  src/components/DateOff/Calendar/CalendarHeader.jsx
  src/components/DateOff/Header.jsx
  src/components/DateOff/TicketItem.jsx
  src/components/DateOff/TicketList.jsx
  src/cores/router.jsx
  src/pages/DateOffView.jsx
  src/styles/globalStyle.js
  yarn.lock
Labels: ✨feature, 📅Date

#4 Feat/#1 Ranking view 퍼블리싱
  src/components/Ranking/Header.jsx
  src/components/Ranking/Navbar.jsx
  src/components/Ranking/PeriodSelector.jsx
  src/components/Ranking/PeriodView.jsx
  src/components/Ranking/ShowItemContainer.jsx
  src/cores/router.jsx
  src/mocks/api/data/allShowDataByRanking.js
  src/pages/Dummy.md
  src/pages/Ranking.jsx
Labels: ✨feature, 🥇Ranking

#10 Feat/#2 HomeView 퍼블리싱
  package.json
  src/assets/Icons/Icn_logo.svg
  src/assets/Icons/Icn_ticket.svg
  src/components/Home/Content/AngelTicket.jsx
  src/components/Home/Content/GenreChoice.jsx
  src/components/Home/Content/RealtimeRank.jsx
  src/components/Home/Content/RecommendTicket.jsx
  src/components/Home/Content/TicketSlider.jsx
  src/components/Home/Header/HomeviewHeader.jsx
  src/cores/hooks/useAPI.js
  src/cores/router.jsx
  src/mocks/api/data/homeTicketData.js
  src/mocks/handlers.js
  src/pages/Homeview.jsx
  yarn.lock
Labels: ✨feature, 🏠Home

#14 Feat/#11 Date_off View 기능구현
  src/components/DateOff/Calendar/Calendar.jsx
  src/components/DateOff/Calendar/CalendarBody.jsx
  src/components/DateOff/TicketItem.jsx
  src/components/DateOff/TicketList.jsx
  src/cores/api.js
  src/pages/DateOffView.jsx
Labels: ✨feature, 📅Date

#15 Feat/#5 Feed view 퍼블리싱, 기능구현
  package.json
  src/components/Feed/FooterMenu.jsx
  src/components/Feed/Header.jsx
  src/components/Feed/ShowDetailBox.jsx
  src/components/Feed/ShowInfomationBox.jsx
  src/cores/hooks/useThemeObserver.js
  src/cores/router.jsx
  src/pages/Feed.jsx
  yarn.lock
Labels: ✨feature, 📝Feed
